body {
    margin: 0;
    padding: 0;
    background-image: url("./assets/background-1.webp");
    background-color: gainsboro;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    text-align: center;
    width: 90%;
    max-width: 400px;
}

h1, p {
    color: white;
}

.avatar {
    width: 100px;
    border-radius: 50px;
}

.sosmed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: #232227;
  padding: 10px 15px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
 
.sosmed-icon {
  width: 50px;
}
 
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eff2f6;
  padding: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
 
.arrow img {
  width: 16px;
  height: 16px;
}
 
.sosmed:hover {
  background-color: #01df94;
  color: white;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
 
.sosmed-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
